.emailList {
  font-size: 20px;
  color: black;
  background-color: lightcyan;
  margin: 10px;
  border-style: double;
}
.emailList2 {
  font-size: 20px;
  color: black;
  background-color: lightyellow;
  margin: 10px;
  border-style: double;
}

.crimson {
  color: crimson;
}
