.NavBar {
  color: black;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-style: double;
  list-style-type: none;

  @media only screen and (max-width: 500px) {
  }
}
